*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html{
    background-color: white;
    color: #333;
}

.dark-mode{
    color: whitesmoke;
    background-color: #333;
}

body{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas:    "hd hd hd hd hd hd hd hd"
                            "mn mn mn mn mn mn mn mn"
                            "mn mn mn mn mn mn mn mn"
                            "ft ft ft ft ft ft ft ft";
    /* height: 100vh;
    width: 100vw; */ 
    /* background-color: #333;
    color: whitesmoke; */
    transition: all .3s ease;
    /* background: url(/static/imgs/keyboard.jpg);
    background-size: cover; */
    /* justify-content: center;
    align-items: center; */

}



header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: 5px solid red; */
    grid-area: hd;
    /* width: 98vw; */
    /* background-color: #333;
    color: whitesmoke; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
header #nightModeBtn{
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 15px;
}

header .nightModeIcon{
    
    width: 60px;
    height: 60px;
    
}

header .dayModeIcon{
    width: 60px;
    height: 60px;
}



main h1{
    margin-top: 10px;
    text-align: center;
}

header #showCertificatesBtn{
    margin-right: 15px;
    margin-top: 5px;
    font-family: monospace, sans-serif;
    font-size: 2.5rem;
    width: 280px;
    background-color: blue;
}

header #showCertificatesBtn:hover{
    border: 3px solid #333;
    box-shadow: #333 4px 4px;
    font-size: 2.6rem;
}

header #hireBtn{
    border-radius: 15%;
    margin-right: 15px;
    margin-top: 5px;
    background-color: rgb(132, 255, 105);
    width: 200px;
    font-family: monospace, sans-serif;
    font-size: 2.5rem;
}

header #hireBtn:hover{
    border: 3px solid #333;
    box-shadow: #333 4px 4px;
    font-size: 2.8rem;
}

h3{
    font-size: 2.3rem;
    text-align: center;
}

.experienceBlock{
    /* border: 5px dotted gold; */
    margin-top: 14px;
    margin-bottom: 14px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.experienceBlock h3 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;

}



.experienceBlock p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.experienceBlock li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    list-style: circle;
    margin-left: 15px;
   
}


.dutiesList li{
    margin-left: 2%;
}

.educationBlock {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.skillsBlock{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.skillList li{
    list-style-type: circle;
    margin-left: 2%;
}

.skillsBlock h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projs__block li{
    list-style-type: circle;
    margin-left: 2%;
}

main{
    /* border: 5px solid black; */
    grid-area: mn;
    /* min-width: 70vw; */
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    /* background-image: url(/static/imgs/keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    font-family:  sans-serif;
    /* background-color: #333;
    color: whitesmoke; */
    margin-left: 20px;
    
}

.contact_info{
    /* background-color: blueviolet; */
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    width: fit-content;
}

.recommendations{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4, visibility .4s;
}

.modal__box{
    position: relative;
    max-width: 800px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: whitesmoke;
    transform: scale(0);
    transition: transform .8s;
}



#hideMeBtn{
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box{
    transform: scale(1);
}
.certificates.open {
    visibility: visible;
    opacity: 1;
}

.certificates.open .certificates__box{
    transform: scale(1);
}


.certificates{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4, visibility .4s;
}


.certificates__box{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: whitesmoke;
    transform: scale(0);
    text-align: center; 
    transition: transform .8s;
}

.certificates__box img{
    max-width: 500px;
    margin:10px;
    border: 5px solid gray;
    
}


aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid gray;
    grid-area: sb;
    /* color: whitesmoke;
    background-color: #333; */
    width: 100%;
    min-height: 900px;
    /* max-height: 900px; */
/* justify-self: center; */
    align-self: self-start;
    
}

aside img {
    display: flex;
    width: 370px;
    height: 370px;
    align-self: center;
    border: 5px dotted gainsboro;
    padding: 15px;
    margin: 15px;
    border-radius: 25%;
    /* float: left; */
}

aside i {
    text-align: center;
}

aside p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

aside .salarySB {
    font-family: sans-serif;
    font-size: 28px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgba(11, 165, 16, 0.935);
}



footer{
    max-height: 250px;
    /* border: 5px solid green; */
    grid-area: ft;
    /* background-color: #333; */
}


.bottom-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social-media__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 25px;
    max-height: 104px;
}

.scoial_links{
    width: 36px;
    height: 36px;
    background-color: #f2f1fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
}


.line{
    width: 100%;
    height: 2px;
    background-color: #d4d2e3;
}

/* footer .bottom-footer .copyright{
    font-family: 'Roboto';
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: whitesmoke;
} */
.bottom-footer p{
    font-family: 'Roboto';
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 30px;
    text-align: center;
    /* color: whitesmoke; */
    font-style: italic;
}

.social-media__container{
    display: flex;
    justify-content: space-between;
}



.social-media__container > .social_links > #tg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: default;
}

.social-media__container > .social_links > #tg:hover{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid red;
    cursor: default;
}

.social-media__container > .social_links > #tg:active{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px dashed cyan;
    cursor: default;
}

.social-media__container > .social_links > #hhru{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: default;
}

.social-media__container > .social_links > #hhru:hover{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid red;
    cursor: default;
}

.social-media__container > .social_links > #hhru:active{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px dashed cyan;
    cursor: default;
}


.social-media__container > .social_links > #vk{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: default;
}

.social-media__container > .social_links > #vk:hover{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid red;
    cursor: default;
}

.social-media__container > .social_links > #vk:active{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px dashed cyan;
    cursor: default;
}


.social-media__container > .social_links > #github{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: default;
}

.social-media__container > .social_links > #github:hover{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid red;
    cursor: default;
}

.social-media__container > .social_links > #github:active{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px dashed cyan;
    cursor: default;
}


@media screen and (max-width: 768px) {

    header #nightModeBtn{
        border-radius: 50%;
        margin-top: 5px;
        margin-left: 5px;
        height: 45px;
    }
    

    header .nightModeIcon{
    
        width: 40px;
        height: 40px;
        
    }

    header h1 {
        font-size: 1rem;
    }

    header #showCertificatesBtn{
        margin-right: 5px;
        margin-top: 2px;
        font-family: monospace, sans-serif;
        font-size: 1.5rem;
        width: 160px;
        background-color: blue;
    }
    
    header #showCertificatesBtn:hover{
        border: 3px solid #333;
        box-shadow: #333 3px 3px;
        font-size: 1.6rem;
    }
    

    header #hireBtn{
        border-radius: 15%;
        margin-right: 5px;
        margin-top: 2px;
        background-color: red;
        width: 100px;
        font-family: monospace, sans-serif;
        font-size: 1.5rem;
        height: 59px;
    }

    header #hireBtn:hover{
        border: 3px solid #333;
        box-shadow: #333 3px 3px;
        font-size: 1.7rem;
    }
    
    h3{
        font-size: 1.5rem;
        text-align: center;
    }

    .experienceBlock{
        /* border: 5px dotted gold; */
        margin-top: 7px;
        margin-bottom: 7px;
        padding-bottom: 7.5px;
        padding-left: 7.5px;
        padding-top: 7.5px;
    }
    
    .experienceBlock h3 {
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 5px;
    
    }
    
    .experienceBlock #gogolab{
        margin-top: 10px;
    }
    
    .experienceBlock #date{
        margin-bottom: 5px;
        font-size: 0.8rem;
    }
    
    
    .experienceBlock p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.1rem;
        margin-top: 5px;
        margin-bottom: 5px;
    
    }
    
    .experienceBlock li{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.1rem;
        list-style: circle;
        margin-left: 7.5px;
       
    }

    .dutiesList li{
        margin-left: 1%;
    }


    .skillList li{
        list-style-type: circle;
        margin-left: 1%;
    }
    .projs__block li{
        list-style-type: circle;
        margin-left: 1%;
    }
    


    .educationBlock {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.1rem;
        margin-top: 7px;
        margin-bottom: 7px;
        padding-bottom: 7.5px;
        padding-left: 7.5px;
        padding-top: 7.5px;
    }
    
    .skillsBlock{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.1rem;
        margin-top: 7px;
        margin-bottom: 7px;
        padding-bottom: 7.5px;
        padding-left: 7.5px;
        padding-top: 7.5px;
    }

    main{
        
        grid-area: mn;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-right: 10px;
        font-family:  sans-serif;
        margin-left: 10px;
        
    }
    
    .contact_info{
        /* background-color: blueviolet; */
        padding: 5px;
        margin: 5px;
        font-size: 9px;
        width: fit-content;
    }


    .certificates__box{
        display: flex;
        position: relative;
        overflow: scroll;
        flex-wrap: wrap;
        max-width: 270px;
        max-height: 500px;
        padding: 10px;
        z-index: 1;
        margin: 15px 7.5px;
        background-color: whitesmoke;
        transform: scale(0);
        text-align: center; 
        transition: transform .8s;
    }
    
    .certificates__box img{
        max-width: 250px;
        
        border: 2.5px solid gray;
        
    }

    .modal__box{
        position: relative;
        max-width: 400px;
        padding: 25px;
        z-index: 1;
        margin: 15px 7.5px;
        background-color: whitesmoke;
        transform: scale(0);
        transition: transform .8s;
    }
    
    aside{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 3px solid gray;
        grid-area: sb;
        width: 100%;
        min-height: 450px;
        align-self: self-start;
        
    }
    
    aside img {
        display: flex;
        width: 185px;
        height: 185px;
        align-self: center;
        border: 3px dotted gainsboro;
        padding: 7.5px;
        margin: 7.5px;
        border-radius: 25%;
        
    }
    
    aside p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.1rem;
        align-self: center;
        margin-top: 5px;
        margin-bottom: 7px;
    }
    
    aside .salarySB {
        font-family: sans-serif;
        font-size: 1.3rem;
        align-self: center;
        margin-top: 5px;
        margin-bottom: 7px;
        color: rgba(11, 165, 16, 0.935);
    }
    
    
    
    footer{
        max-height: 125px;
        /* border: 5px solid green; */
        grid-area: ft;
        /* background-color: #333; */
    }
    
    
    .bottom-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    
    .social-media__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin: 12px;
        max-height: 52px;
    }
    
    .scoial_links{
        width: 20px;
        height: 20px;
        background-color: #f2f1fa;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        
    }

    .line{
        width: 100%;
        height: 2px;
        background-color: #d4d2e3;
        margin-top: 20px;
    }
    
    .bottom-footer p{
        font-family: 'Roboto';
        font-size: 10px;
        margin-top: 8px;
        margin-bottom: 15px;
        text-align: center;
        /* color: whitesmoke; */
        font-style: italic;
    }
    
    .social-media__container > .social_links > #tg{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: default;
    }
    
    .social-media__container > .social_links > #tg:hover{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid red;
        cursor: default;
    }
    
    .social-media__container > .social_links > #tg:active{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px dashed cyan;
        cursor: default;
    }
    
    .social-media__container > .social_links > #hhru{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: default;
    }
    
    .social-media__container > .social_links > #hhru:hover{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid red;
        cursor: default;
    }
    
    .social-media__container > .social_links > #hhru:active{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px dashed cyan;
        cursor: default;
    }
    
    
    .social-media__container > .social_links > #vk{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: default;
    }
    
    .social-media__container > .social_links > #vk:hover{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid red;
        cursor: default;
    }
    
    .social-media__container > .social_links > #vk:active{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px dashed cyan;
        cursor: default;
    }
    
    
    .social-media__container > .social_links > #github{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: default;
    }
    
    .social-media__container > .social_links > #github:hover{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid red;
        cursor: default;
    }
    
    .social-media__container > .social_links > #github:active{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px dashed cyan;
        cursor: default;
    }
    

}